<div class="container">
    <div class="jumbotron">
      <div class="head">
        <h1>Edit Product</h1>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onUpdate()">
        <div class="form-group row">
          <label for="productId" class="col-sm-2  col-form-label">Product Id</label>
          <div class="col-sm-10 ">
            <input type="number" class="form-control" id="productId" formControlName="productId"
              [ngClass]="{'is-invalid':submitted && f.productId.errors}">
            <div *ngIf="submitted && f.productId.errors" class="invalid-feedback">
              <div *ngIf="f.productId.errors.required">
              This field is required.
            </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="productName" class="col-sm-2 col-form-label">Product Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="productName" formControlName="productName"
              [ngClass]="{'is-invalid':submitted && f.productName.errors}">
            <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                <div *ngIf="f.productName.errors.required">
                    This field is required.
                  </div>.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="productCode" class="col-sm-2 col-form-label">Product Code</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="productCode" formControlName="productCode"
              [ngClass]="{'is-invalid':submitted && f.productCode.errors}">
            <div *ngIf="submitted && f.productCode.errors" class="invalid-feedback">
                <div *ngIf="f.productCode.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="releaseDate" class="col-sm-2 col-form-label">Release Date</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="releaseDate" formControlName="releaseDate"
              [ngClass]="{'is-invalid':submitted && f.releaseDate.errors}">
            <div *ngIf="submitted && f.releaseDate.errors" class="invalid-feedback">
                <div *ngIf="f.releaseDate.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" formControlName="description"
              [ngClass]="{'is-invalid':submitted && f.description.errors}">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="price" formControlName="price"
              [ngClass]="{'is-invalid':submitted && f.price.errors}">
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="starRating" class="col-sm-2 col-form-label">Star Rating</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="starRating" formControlName="starRating"
              [ngClass]="{'is-invalid':submitted && f.starRating.errors}">
            <div *ngIf="submitted && f.starRating.errors" class="invalid-feedback">
                <div *ngIf="f.starRating.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="imageUrl" class="col-sm-2 col-form-label">Image Url</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl"
              [ngClass]="{'is-invalid':submitted && f.imageUrl.errors}">
            <div *ngIf="submitted && f.imageUrl.errors" class="invalid-feedback">
                <div *ngIf="f.imageUrl.errors.required">
                    This field is required.
                  </div>
            </div>
          </div>
        </div>
        <div class="addbtn">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>